.homeMobile-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    color: black;
    /* background-color: #2b2b2b; */
}

.section {
    width: 100%;
    height: 100%;
    margin-top: 1vh;
}

.scroll-arrow {
    width: 80%;
    margin: 0 auto;
    margin-top: 3vh;
    /* margin-bottom: 1vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.scroll-arrow:hover {
    cursor: pointer;
}

.scroll-arrow p {
    width: 100%;
    user-select: none;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px !important;
    letter-spacing: 0.1em;
    /* padding-left: 0.1em; */
    margin-top: -1em;
    margin-bottom: 0.1em;
}

.scroll-arrow img {
    width: 0.5vw !important;
    margin-top: 4px;
    height: auto;
}

.scroll-arrow.white {
    background: #2b2b2b;
}

.scroll-arrow.white p {
    color: #f6f6f6;
    background: #2b2b2b;
}

.scroll-arrow.black {
    background: #f6f6f6;
}

.scroll-arrow.black p {
    color: #2b2b2b;
    background: #f6f6f6;
}


@media (max-width: 440px) {
    .scroll-arrow p {
        font-size: 8px !important;
        /* padding-left: 0.1em; */
    }
    
    .scroll-arrow img {
        width: 1.5vw !important;
    }
}

@media (max-width: 768px) and (min-width: 440px) {
    .scroll-arrow p {
        font-size: 9px !important;
        /* padding-left: 0.1em; */
    }
    
    .scroll-arrow img {
        width: 6px !important;
    }
}

@media (max-width: 1100px) and (min-width: 768px) {
    .scroll-arrow p {
        font-size: 10px !important;
        /* padding-left: 0.1em; */
    }
    
    .scroll-arrow img {
        width: 6px !important;
    }
}