.wrapperClass_titleImages img {
    scale: 0.75;
    margin: 25px;
    margin-bottom: 15px;
}

.wrapperClass_titleImages img:first-child {
    margin-left: 0px;
}

.wrapperClass_info {
    width: 100vw;
    margin-top: 180vh;
}

.wrapperClass_info_cont {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.wrapperClass_info p {
    position: relative;
    width: 50%;
    text-align: justify;
    font-family: "Lato";
    line-height: 30px;
    font-weight: 400;
    font-size: 1em;
    color: #000;
    border-radius: 20px;
    padding: 0vw;
    align-self: center;
}

.wrapperClass_info p::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -60px;
    width: 100px;
    height: 1px;
    background-color: rgba(0, 0, 0, 1);
    transform: rotate(140deg);
}

.wrapperClass_info p::after {
    position: absolute;
    content: "";
    bottom: -10px;
    right: -60px;
    width: 100px;
    height: 1px;
    background-color: rgba(0, 0, 0, 1);
    transform: rotate(140deg);
}

.wrapperClass_info_imgs_1 {
    margin-right: 3em;
}

.wrapperClass_info_imgs_2 {
    margin-left: 3em;
}

.wrapperClass_info_imgs_1,
.wrapperClass_info_imgs_2 {
    scale: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.wrapperClass_info_imgs_1 img,
.wrapperClass_info_imgs_2 img {
    width: 45%;
    scale: 0.85;
    margin: 15px auto;
}

.title-text-area {
    width: 52%;
    min-width: 300px;
    max-width: 1000px;
    color:#2b2b2b;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.1ch;
    /* text-align:le; */
}

.title-text-area p {
    width: 100%;
    color:#2b2b2b;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.1ch;
    padding-left: 3%;
}

.mainText1,
.mainText2,
.mainText3,
.mainText4 {
    font-family: 'Lato';
    font-weight: 300;
    max-width: 800px;
    font-size: 18px;
    letter-spacing: 0.1ch;
}

.mainText1 {
    width: 34vw;
    color: #f6f6f6;
}

.mainText2 {
    width: 34vw;
    color: #f6f6f6;
}

.mainText3 {
    font-size: 17px;
    width: 30vw;
    color: #f6f6f6;
}

.mainText4 {
    width: 28vw;
    color: #f6f6f6;
}

.mainText1 b,
.mainText2 b,
.mainText3 b,
.mainText4 b {
    font-weight: 500;
}

.wrapperClass_footer > div {
    width: 92vw;
    height: 100vh;
    top:-20px;
}

.wrapperClass_footer > div > .section .container-team,
.wrapperClass_footer > div > .section .container-team * {
    background: transparent;
}

.wrapperClass_footer > div > .section .container-team .team-imgs {
    justify-content: center;
}

.wrapperClass_footer > div > .section .container-team .team-imgs .dhri {
    width: 20%;
}

.wrapperClass_footer > div > .section .container-team .team-imgs .priority {
    width: 15%;
}

.wrapperClass_footer > div > .section .container-team .profile-blocks {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 4vh;
    margin-bottom: 10px;
}

.wrapperClass_footer > div > .section .container-team .profile-blocks > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapperClass_footer > div > .section .container-team .profile-blocks > div > div {
    width: 50%;
}

@media (max-width: 1280px) {
    .mainText1 {
        width: 30vw;
        font-size: 14px;
    }

    .mainText2 {
        width: 30vw;
        font-size: 14px;
    }

    .mainText3 {
        width: 30vw;
        font-size: 14px;
    }

    .mainText4 {
        width: 28vw;
        font-size: 14px;
    }
}

@media (max-width: 1100px) {
    .mainText1 {
        width: 30vw;
        font-size: 12px;
    }

    .mainText2 {
        width: 30vw;
        font-size: 12px;
    }

    .mainText3 {
        width: 30vw;
        font-size: 12px;
    }

    .mainText4 {
        width: 28vw;
        font-size: 12px;
    }
}