.container-angara-map {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.angara-map-img {
    width: 28%;
    max-width: 650px !important;
    margin: 0 auto;
}

.angara-map-text {
    width: 80%;
    background: #2b2b2b;
}

.angara-map-text p {
    width: 70%;
    margin: 0 auto;
    font-family: 'Lato';
    font-weight: 300;
    max-width: 800px;
    font-size: 18px;
    letter-spacing: 0.1ch;
    color: #f6f6f6;
}

@media (max-width: 1100px) and (max-aspect-ratio: 1/1) {
    .angara-map-img {
        width: 45%;
        margin: 0 auto;
    }

    .angara-map-text p {
        width: 90%;
        font-size: 16px;
    }
}

@media (max-width: 1100px) and (min-aspect-ratio: 1/1) {
    .angara-map-img {
        width: 30%;
        margin: 0 auto;
    }

    .angara-map-text p {
        width: 90%;
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .angara-map-img {
        width: 45%;
        margin: 0 auto;
    }

    .angara-map-text {
        width: 100%;
    }

    .angara-map-text p {
        width: 90%;
        font-size: 12px;
    }
}

@media (max-width: 640px) {
    .angara-map-img {
        width: 60%;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .angara-map-img {
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 440px) {
    .angara-map-img {
        width: 85%;
        margin: 0 auto;
    }
}