.container-funeral-pure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.funeral-pure-img {
    width: 45%;
    margin: 0 auto;
}

.funeral-pure-text {
    width: 80%;
    background: #2b2b2b;
}

.funeral-pure-text p {
    width: 70%;
    margin: 0 auto;
    font-family: 'Lato';
    font-weight: 300;
    max-width: 800px;
    font-size: 18px;
    letter-spacing: 0.1ch;
    color: #f6f6f6;
}

@media (max-width: 1100px) and (max-aspect-ratio: 1/1) {
    .funeral-pure-img {
        width: 50%;
        margin: 0 auto;
    }

    .funeral-pure-text p {
        width: 90%;
        font-size: 16px;
    }
}

@media (max-width: 1100px) and (min-aspect-ratio: 1/1) {
    .funeral-pure-img {
        width: 50%;
        margin: 0 auto;
    }

    .funeral-pure-text p {
        width: 90%;
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .funeral-pure-img {
        width: 70%;
        margin: 0 auto;
    }

    .funeral-pure-text {
        width: 100%;
    }

    .funeral-pure-text p {
        width: 90%;
        font-size: 12px;
    }
}

@media (max-width: 640px) {
    .funeral-pure-img {
        width: 75%;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .funeral-pure-img {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 440px) {
    .funeral-pure-img {
        width: 95%;
        margin: 0 auto;
    }
}