.container-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.items-img-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.items-img-container > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10em;
    justify-content: center;
    align-items: center;
}

.items-img-container div div {
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.1em;
    justify-content: space-around;
    align-items:center;
    margin-top: 22vh;
}

.items-img-container div div p {
    width: min-content;
    margin: 0 auto;
    font-family: 'FoglihtenNo06';
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.15ch;
    color: #2b2b2b;
    background-color: #f6f6f6;
    padding-bottom: 6px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 4px rgba(43, 43, 43, 0.5);
    margin-right: 5px;
    margin-left: 5px;
}

.hr-line {
    width: 20%;
    min-width: 15px;
    margin: 0 10px;
    height: 1px;
    color: #2b2b2b;
    border: none;
    background-color: #2b2b2b;
}

@media (min-width: 1400px) {
    .hr-line {
        height: 2px;
    }
}

.items-img-container .items-img {
    width: 30%;
    /* margin: 10px auto; */
}

.items-img-container div:nth-child(1) div:nth-child(1) .items-img {
    width: 24%;
}
.items-img-container div:nth-child(1) div:nth-child(2) .items-img {
    width: 27%;
}
.items-img-container div:nth-child(2) div:nth-child(1) .items-img {
    width: 30%;
}
.items-img-container div:nth-child(2) div:nth-child(2) .items-img {
    width: 30%;
}
.items-img-container div:nth-child(3) div:nth-child(1) .items-img {
    width: 30%;
}
.items-img-container div:nth-child(3) div:nth-child(2) .items-img {
    width: 32%;
}
.items-img-container div:nth-child(4) div:nth-child(1) .items-img {
    width: 30%;
}
.items-img-container div:nth-child(4) div:nth-child(2) .items-img {
    width: 30%;
}

.items-text {
    width: 80%;
}

.items-text p {
    width: 70%;
    margin: 0 auto;
    font-family: 'Lato';
    font-weight: 300;
    max-width: 800px;
    font-size: 18px;
    letter-spacing: 0.1ch;
    color: #f6f6f6;
}

@media (max-width: 1100px) and (max-aspect-ratio: 1/1) {

    .items-text p {
        width: 90%;
        font-size: 16px;
    }
}

@media (max-width: 1100px) and (min-aspect-ratio: 1/1) {

    .items-text p {
        width: 90%;
        font-size: 16px;
    }
}

@media (max-width: 800px) {

    .items-img-container > div {
        gap: 5em;
    }

    .items-text p {
        width: 90%;
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .items-img-container > div {
        gap: 5em;
    }

    .items-img-container .items-img {
        width: 25%;
        /* margin-top: 10vh; */
    }

    .items-img-container div:nth-child(1) div:nth-child(1) .items-img {
        width: 32%;
    }
    .items-img-container div:nth-child(1) div:nth-child(2) .items-img {
        width: 35%;
    }
    .items-img-container div:nth-child(2) div:nth-child(1) .items-img {
        width: 38%;
    }
    .items-img-container div:nth-child(2) div:nth-child(2) .items-img {
        width: 38%;
    }
    .items-img-container div:nth-child(3) div:nth-child(1) .items-img {
        width: 36%;
    }
    .items-img-container div:nth-child(3) div:nth-child(2) .items-img {
        width: 40%;
    }
    .items-img-container div:nth-child(4) div:nth-child(1) .items-img {
        width: 40%;
    }
    .items-img-container div:nth-child(4) div:nth-child(2) .items-img {
        width: 40%;
    }

    .items-text {
        width: 100%;
    }

    .items-text p {
        width: 90%;
        font-size: 12px;
    }
}

@media (max-width: 685px) {
    .items-img-container > div {
        gap: 0em;
        flex-direction: column;
    }

    .items-img-container .items-img {
        width: 50%;
        /* margin-top: 10vh; */
    }

    .items-img-container div:nth-child(1) div:nth-child(1) .items-img {
        width: 50%;
    }
    .items-img-container div:nth-child(1) div:nth-child(2) .items-img {
        width: 52%;
    }
    .items-img-container div:nth-child(2) div:nth-child(1) .items-img {
        width: 60%;
    }
    .items-img-container div:nth-child(2) div:nth-child(2) .items-img {
        width: 60%;
    }
    .items-img-container div:nth-child(3) div:nth-child(1) .items-img {
        width: 58%;
    }
    .items-img-container div:nth-child(3) div:nth-child(2) .items-img {
        width: 62%;
    }
    .items-img-container div:nth-child(4) div:nth-child(1) .items-img {
        width: 60%;
    }
    .items-img-container div:nth-child(4) div:nth-child(2) .items-img {
        width: 60%;
    }
}

@media (max-width: 440px) {

    .items-img-container div div p {
        font-size: 12px;
        letter-spacing: 0.15ch;
    }

    .items-img-container .items-img {
        width: 50%;
        /* margin-top: 10vh; */
    }

    .items-img-container div:nth-child(1) div:nth-child(1) .items-img {
        width: 68%;
    }
    .items-img-container div:nth-child(1) div:nth-child(2) .items-img {
        width: 70%;
    }
    .items-img-container div:nth-child(2) div:nth-child(1) .items-img {
        width: 78%;
    }
    .items-img-container div:nth-child(2) div:nth-child(2) .items-img {
        width: 78%;
    }
    .items-img-container div:nth-child(3) div:nth-child(1) .items-img {
        width: 78%;
    }
    .items-img-container div:nth-child(3) div:nth-child(2) .items-img {
        width: 80%;
    }
    .items-img-container div:nth-child(4) div:nth-child(1) .items-img {
        width: 80%;
    }
    .items-img-container div:nth-child(4) div:nth-child(2) .items-img {
        width: 80%;
    }

}