.container-migration {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #2b2b2b;
}

/* .container-migration div {
    display: flex;
    align-items: center;
    height: fit-content !important;
} */

.migration-img {
    width: 90%;
    height: 90%;
    max-width: 1200px !important;
    margin: 0 auto;
    object-fit: contain;
}

.migration-text {
    width: 80%;
    background: #2b2b2b;
}

.migration-text > p {
    width: 70%;
    margin: 0 auto;
    font-family: 'Lato';
    font-weight: 300;
    max-width: 800px;
    font-size: 18px;
    letter-spacing: 0.1ch;
    color: #f6f6f6;
}

@media (max-width: 1100px) {
    .migration-text > p {
        width: 90%;
        font-size: 16px;
    }

    .migration-img {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 768px) {
    .container-migration {
        flex-direction: column;
        justify-content: center;
    }

    .migration-text {
        width: 100%;
    }

    .migration-img {
        width: 90%;
        height: fit-content;
    }

    .migration-text > p {
        width: 90%;
        font-size: 12px;
    }
}
