.models-array {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.models-arrows {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.models-arrows img {
    width: 50%;
    max-width: 15px;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.models-arrows img:nth-of-type(1) {
    transform: rotate(90deg);
    transition: 0.3s ease-in-out;
}

.models-arrows img:nth-of-type(2) {
    transform: rotate(-90deg);
    transition: 0.3s ease-in-out;
}

.models-text-slider {
    width: 100%;
    height: fit-content;
    margin-bottom: 4px;
}

.use-spring-carousel-item {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.models-text-slider-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    background: #f6f6f6;
    padding: 15px 30px;
    padding-bottom: 0;
}

.title-models {
    font-family: 'FoglihtenNo06';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15ch;
    margin: 0 auto;
    color: #2b2b2b;
    text-align: center;
    font-size: 2vw;
    line-height: 1.2;
}

.models-text-slider-item p {
    font-family: 'Lato';
    font-weight: 300;
    margin: 0 auto;
    color: #2b2b2b;
    font-size: 1.8vw;
    letter-spacing: 0.05ch;
    line-height: 1.15;
}

.models-text-slider-item p b {
    font-weight: 600;
}

.open-model-mobile {
    width: 80%;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #2b2b2b;
    padding: 12px 15px;
    border: 1px solid #2b2b2b;
    border-radius: 8px;
    box-shadow:none;
    background-color: transparent;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.open-model-mobile:hover,
.open-model-mobile:focus {
    color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 10px;
    background-color: #2b2b2b;
    transition: 0.15s ease-in-out;
}

.container-models {
    display: flex;
    align-items: center;
    width: 60%;
    height: 35%;
    justify-content: center;
}

.container-models .deck {
    position: absolute;
    width: 35%;
    max-width: 300px;
    height: 30%;
    max-height: 300px;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container-models .deck>div {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.container-models .deck:nth-of-type(1) {
    width: 30%;
    max-width: 300px;
    height: 25%;
    max-height: 180px;
}

.container-models .deck:nth-of-type(2) {
    width: 32%;
    max-width: 300px;
    height: 30%;
    max-height: 190px;
}

.container-models .deck:nth-of-type(3) {
    width: 38%;
    max-width: 350px;
    height: 25%;
    max-height: 200px;
}

.container-models .deck:nth-of-type(4) {
    width: 32%;
    max-width: 320px;
    height: 30%;
    max-height: 300px;
}

.container-models .deck:nth-of-type(5),
.container-models .deck:nth-of-type(6),
.container-models .deck:nth-of-type(7),
.container-models .deck:nth-of-type(8) {
    width: 35%;
    max-width: 350px;
    height: 30%;
    max-height: 200px;
}

@media (max-width: 650px) {
    .models-text-slider-item p {
        font-size: 12px;
    }

    .title-models {
        font-size: 16px;
    }

    .open-model-mobile {
        font-size: 12px;
        padding: 10px;
    }

    .models-arrows img {
        max-width: 10px;
    }
}

@media (min-width: 650px) and (max-width: 768px) {

    .models-text-slider-item p {
        font-size: 2vw;
    }

    .title-models {
        font-size: 2.5vw;
    }

    .open-model-mobile {
        font-size: 14px;
        padding: 10px 12px;
    }

    .models-arrows img {
        max-width: 12px;
        margin-bottom: 10px;
    }

    .container-models .deck:nth-of-type(1),
    .container-models .deck:nth-of-type(2) {
        width: 30%;
        max-width: 180px;
        height: 30%;
        max-height: 400px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .open-model-mobile {
        width: max-content;
        align-self: center;
        font-size: 14px;
        padding: 10px 30px;
    }

    .container-models .deck:nth-of-type(1),
    .container-models .deck:nth-of-type(2),
    .container-models .deck:nth-of-type(3),
    .container-models .deck:nth-of-type(4),
    .container-models .deck:nth-of-type(5),
    .container-models .deck:nth-of-type(6),
    .container-models .deck:nth-of-type(7),
    .container-models .deck:nth-of-type(8) {
        width: 30%;
        max-width: 150px;
        height: 30%;
        max-height: 400px;
    }

    .models-arrows img {
        max-width: 10px;
        margin-bottom: 0px;
    }
}

@media (min-width: 1024px) and (max-width: 1720px) {
    .models-text-slider-item p {
        font-size: 18px;
    }

    .title-models {
        font-size: 24px;
    }

    .open-model-mobile {
        width: 20%;
        font-size: 16px;
        align-self: center;
        padding: 12px 10px;
    }

    .container-models .deck:nth-of-type(1) {
        max-height: 200px !important;
    }

    .container-models .deck:nth-of-type(3) {
        max-width: 185px !important;
    }

    .container-models .deck:nth-of-type(5),
    .container-models .deck:nth-of-type(6),
    .container-models .deck:nth-of-type(7),
    .container-models .deck:nth-of-type(8) {
        max-width: 170px !important;
    }

    .container-models .deck:nth-of-type(1),
    .container-models .deck:nth-of-type(2),
    .container-models .deck:nth-of-type(3),
    .container-models .deck:nth-of-type(4),
    .container-models .deck:nth-of-type(5),
    .container-models .deck:nth-of-type(6),
    .container-models .deck:nth-of-type(7),
    .container-models .deck:nth-of-type(8) {
        width: 30%;
        max-width: 150px;
        height: 30%;
        max-height: 400px;
    }

    .models-arrows img {
        width: 12px;
        max-width: 12px;
        margin-bottom: 0px;
    }
}

@media (min-width: 1400px) and (max-width: 1720px) {
    .container-models .deck:nth-of-type(1) {
        max-height: 240px !important;
    }

    .container-models .deck:nth-of-type(3) {
        max-width: 210px !important;
    }

    .container-models .deck:nth-of-type(5),
    .container-models .deck:nth-of-type(6),
    .container-models .deck:nth-of-type(7),
    .container-models .deck:nth-of-type(8) {
        max-width: 190px !important;
    }

    .container-models .deck:nth-of-type(1),
    .container-models .deck:nth-of-type(2),
    .container-models .deck:nth-of-type(3),
    .container-models .deck:nth-of-type(4),
    .container-models .deck:nth-of-type(5),
    .container-models .deck:nth-of-type(6),
    .container-models .deck:nth-of-type(7),
    .container-models .deck:nth-of-type(8) {
        width: 30%;
        max-width: 180px;
        height: 30%;
        max-height: 400px;
    }

    .models-arrows img {
        width: 12px;
        max-width: 12px;
        margin-bottom: 0px;
    }
}

@media (min-width: 1720px) {
    .models-text-slider {
        margin-bottom: 50px;
    }

    .models-arrows img {
        width: 16px;
        max-width: 16px;
        margin-bottom: 0px;
    }

    .models-text-slider-item {
        width: 50%;
    }

    .models-text-slider-item p {
        font-size: 22px;
    }

    .title-models {
        font-size: 28px;
    }

    .open-model-mobile {
        width: 20%;
        font-size: 17px;
        align-self: center;
        padding: 12px 10px;
    }

    .container-models .deck:nth-of-type(1) {
        width: 40%;
        max-width: 380px;
        height: 40%;
        max-height: 470px;
    }

    .container-models .deck:nth-of-type(2) {
        width: 40%;
        max-width: 380px;
        height: 40%;
        max-height: 470px;
    }

    .container-models .deck:nth-of-type(3) {
        width: 40%;
        max-width: 390px;
        height: 40%;
        max-height: 400px;
    }

    .container-models .deck:nth-of-type(4) {
        width: 40%;
        max-width: 390px;
        height: 40%;
        max-height: 400px;
    }

    .container-models .deck:nth-of-type(5) {
        width: 40%;
        max-width: 390px;
        height: 40%;
        max-height: 400px;
    }

    .container-models .deck:nth-of-type(6) {
        width: 40%;
        max-width: 390px;
        height: 40%;
        max-height: 400px;
    }

    .container-models .deck:nth-of-type(7) {
        width: 40%;
        max-width: 390px;
        height: 40%;
        max-height: 400px;
    }

    .container-models .deck:nth-of-type(8) {
        width: 40%;
        max-width: 390px;
        height: 40%;
        max-height: 400px;
    }
}

