.modalBackground {
    width: 100vw;
    height: 100vh;
    background: rgba(43, 43, 43, 0.9);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modalWrapper {
    width: 95vw;
    height: 95vh;
    color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 101;
    border-radius: 10px;
}

.modalContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2b2b2b;
    border-radius: 10px;
}

.closeModal {
    position: absolute;
    top: 15px;
    right: 15px;
    width: fit-content;
    height: fit-content;
    color:#2b2b2b;
    background: transparent;
    border: none;
    font-size: 24px;
    font-family: 'Lato';
    font-weight: 400;
    padding: 5px 10px;
    padding-bottom: 6px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    border-radius: 6px;
    z-index: 1000 !important;
}

.closeModal:hover {
    background: #2b2b2b;
    color: #f6f6f6;
    transition: 0.15s ease-in-out;
}

.canvasMobile {
    width: 90% !important;
    height: 90% !important;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    z-index: 100 !important;
}