.container-team {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profile-name.margin-custom {
    margin-top: 15px;
}

.container-team h6 {
    width: 70%;
    margin: 0 auto;
    /* margin-bottom: 2vh; */
    font-family: 'Lato';
    font-weight: 300;
    max-width: 800px;
    font-size: 1.5vw;
    letter-spacing: 0.1em;
    color: #f6f6f6;
    text-align: center;
    text-transform: uppercase;
}

.container-team .priority {
    width: 100%;
    text-align: center;
    margin-top: 2vh;
}

.container-team .priority img {
    width: 40%;
    max-width: 200px;
    margin: 0 auto;
    object-fit: contain;
}

.container-team .team-imgs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.container-team .team-imgs .dhLab {
    width: 5%;
    min-width: 80px;
    max-width: 100px;
    /* margin-top: 2vh; */
    margin-bottom: 4vh;
}

.container-team .team-imgs .archLab {
    width: 5%;
    min-width: 60px;
    max-width: 60px;
}

.container-team .team-imgs .dhLab img,
.container-team .team-imgs .archLab img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.team-text {
    width: 70%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    background: #2b2b2b;
}

.team-text div {
    margin-bottom: 10px;
}

.team-text div p {
    margin-top: 0;
    margin-bottom: 2px;
}

.team-text p {
    font-family: 'Lato';
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 0.15ch;
    color: #f6f6f6;
}

.team-text p:first-of-type {
    font-size: 18px;
    margin-top: 0;
}

.team-text ul {
    padding: 0;
    margin: 0;
}

.team-text ul li {
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.team-text p span {
    font-family: 'Lato';
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.team-text a {
    font-family: 'Lato';
    font-weight: 300;
    color: #f6f6f6;
    transition: 0.15s ease-in-out;
}

.team-text a:hover {
    font-weight: 600 !important;
    color: #ffffff;
    transition: 0.15s ease-in-out;
}

.team-text .profile-name a {
    text-decoration: none;
    font-weight: 200;
}

.team-text .profile-link a {
    font-weight: 200;
}

.team-text .profile-link {
    margin-bottom: 0;
}

@media (min-width: 1600px) {
    .container-team h6 {
        font-size: 1.2vw;
    }

    .team-text p {
        font-size: 18px;
    }

    .team-text p:first-of-type {
        font-size: 22px;
        margin-top: 0;
    }

    .team-text ul li {
        font-size: 16px;
    }
}

@media (max-width: 1100px) {
    .team-text div {
        margin-bottom: 5px;
    }

    .container-team h6 {
        font-size: 18px;
    }

    .team-text p {
        font-size: 12px;
    }

    .team-text p:first-of-type {
        font-size: 16px;
    }

    .team-text p span {
        font-size: 12px;
    }

    .container-team .team-imgs .dhLab {
        margin-bottom: 2vh;
    }

    .container-team .team-imgs .dhLab img,
    .container-team .team-imgs .archLab img {
    width: 80%;
    height: 80%;
}
}

@media (max-width: 768px) {
    .team-text {
        width: 80%;
    }

    .container-team h6 {
        font-size: 20px;
    }

    .team-text p:first-of-type {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .container-team .team-imgs .dhLab img,
    .container-team .team-imgs .archLab img {
        width: 85%;
        height: 85%;
    }

    .team-text div {
        margin-bottom: 0px;
    }

    .team-text {
        width: 90%;
    }

    .container-team h6 {
        font-size: 18px;
    }

    .team-text p {
        font-size: 12px;
    }

    .team-text ul li {
        font-size: 12px;
        margin-bottom: 5px;
    }
}