/* .container-title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} */

.title-imgs {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

.title-imgs img {
    padding: 5px;
    /* background-color: #f6f6f6;
    border-radius: 20px; */
}

.title-imgs img:nth-of-type(1) {
    width: 13%;
    margin: 0 2vw;
    height: auto;
}

.title-imgs img:nth-of-type(2) {
    width: 17.5%;
    margin: 0 2vw;
    height: auto;
}

.title-imgs img:nth-of-type(3) {
    width: 12%;
    margin: 0 2vw;
    height: auto;
}

.title-text {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f6f6f6;
}

.title-text h1 {
    font-family: 'FoglihtenNo06';
    font-size: 8vw;
    font-weight: normal;
    letter-spacing: 0.25em;
    padding-left: 0.25em;
    margin-top: -0.2em;
    margin-bottom: 0;
    color: black;
}

.title-text h6 {
    width: 95%;
    margin: 0 auto;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.2vw;
    letter-spacing: 0.1em;
    padding-left: 0.1em;
    margin-top: 6em;
    margin-bottom: 0.1em;
}

.title-scroll {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-scroll:hover {
    cursor: pointer;
}

.title-scroll p {
    user-select: none;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1vw;
    letter-spacing: 0.1em;
    padding-left: 0.1em;
    margin-top: -1em;
    margin-bottom: 0.1em;
}

.title-scroll img {
    width: 0.75vw;
    margin-top: 4px;
    height: auto;
}

@media (max-width:700px) {

    .title-imgs {
        width: 90%;
        margin-top: 0px;
    }

    .title-imgs img:nth-of-type(1) {
        width: 20%;
        margin: 10px;
        height: auto;
    }

    .title-imgs img:nth-of-type(2) {
        width: 26%;
        margin: 10px;
        height: auto;
    }

    .title-imgs img:nth-of-type(3) {
        width: 18%;
        margin: 10px;
        height: auto;
    }

    .title-text h1 {
        font-size: 12vw;
        letter-spacing: 0.2em;
        padding-left: 0.2em;
    }

    .title-text h6 {
        font-size: 0.8rem;
        letter-spacing: 0.1em;
        padding-left: 0.1em;
        margin-top: 2.5em;
    }

    .title-scroll p {
        font-size: 0.7rem;
        letter-spacing: 0.1em;
        padding-left: 0.1em;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }

    .title-scroll img {
        width: 1.2vh;
        margin-top: 2px;
    }

}